In [10]:
from bs4 import BeautifulSoup
import requests

r = requests.get('https://en.wikipedia.org/wiki/Deaths_in_2017')
print (r.status_code)
soup = BeautifulSoup(r.content, 'lxml')

200

In [82]:
day = soup.find(class_='mw-headline', id=1)
print(day.parent)
persons = day.parent.find_next_sibling('ul')

<h3><span class="mw-headline" id="1">1</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Deaths_in_2017&amp;action=edit&amp;section=8" title="Edit section: 1">edit</a><span class="mw-editsection-bracket">]</span></span></h3>

In [63]:
import pandas as pd

In [79]:
x = [1,1,5,6,7,10]
y = [3,3,3,4,4,40]
data = {
    'x':x,
    'y':y
}

In [80]:
df = pd.DataFrame(data)

In [89]:
from calendar import month_name
print ([m for m in month_name])

['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [90]:
list(month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

# NEW

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# df = pd.DataFrame([[2001,151],[2002,160], [2006,211]], columns=['year','sale'])
# print (df)
# df.to_csv('./data.csv', index=False)
# {'split','records','index','columns','values'}
# plt.plot (df.x, df.y)
# plt.show()

from bs4 import BeautifulSoup
import requests

r = requests.get('https://en.wikipedia.org/wiki/Deaths_in_2017#January')
print(r.status_code)
soup = BeautifulSoup(r.content, 'lxml')

200

In [47]:
mw_headlines = soup.find_all(class_='mw-headline')

In [48]:
mw_headlines

[<span class="mw-headline" id="February">February</span>,
 <span class="mw-headline" id="2">2</span>,
 <span class="mw-headline" id="1">1</span>,
 <span class="mw-headline" id="January">January</span>,
 <span class="mw-headline" id="31">31</span>,
 <span class="mw-headline" id="30">30</span>,
 <span class="mw-headline" id="29">29</span>,
 <span class="mw-headline" id="28">28</span>,
 <span class="mw-headline" id="27">27</span>,
 <span class="mw-headline" id="26">26</span>,
 <span class="mw-headline" id="25">25</span>,
 <span class="mw-headline" id="24">24</span>,
 <span class="mw-headline" id="23">23</span>,
 <span class="mw-headline" id="22">22</span>,
 <span class="mw-headline" id="21">21</span>,
 <span class="mw-headline" id="20">20</span>,
 <span class="mw-headline" id="19">19</span>,
 <span class="mw-headline" id="18">18</span>,
 <span class="mw-headline" id="17">17</span>,
 <span class="mw-headline" id="16">16</span>,
 <span class="mw-headline" id="15">15</span>,
 <span class="mw-headline" id="14">14</span>,
 <span class="mw-headline" id="13">13</span>,
 <span class="mw-headline" id="12">12</span>,
 <span class="mw-headline" id="11">11</span>,
 <span class="mw-headline" id="10">10</span>,
 <span class="mw-headline" id="9">9</span>,
 <span class="mw-headline" id="8">8</span>,
 <span class="mw-headline" id="7">7</span>,
 <span class="mw-headline" id="6">6</span>,
 <span class="mw-headline" id="5">5</span>,
 <span class="mw-headline" id="4">4</span>,
 <span class="mw-headline" id="3">3</span>,
 <span class="mw-headline" id="2_2">2</span>,
 <span class="mw-headline" id="1_2">1</span>,
 <span class="mw-headline" id="See_also">See also</span>,
 <span class="mw-headline" id="References">References</span>,
 <span class="mw-headline" id="External_links">External links</span>]

In [55]:
year = []
month = []
day = []
html = []
deaths = []
date_in_year = []

In [59]:
from calendar import month_name
month_dict = {}
for i,month in enumerate(month_name):
    month_dict[month] = "{:02d}".format(i)
for d in mw_headlines:
    pass
    try:
#         d = mw_headlines[2]
#         print (d.string)

        if d.string in month_dict.keys():
            print (d)
            mi = month_dict[d.string]
        else:
            di = "{:02d}".format(int(d.string))
            print (di)
            persons = d.parent.find_next_sibling()
            if persons.name != 'ul':
                print ("NO")
                continue
            html.append('X')
            date_in_year.append(mi+di)
            deaths.append(len(persons('li')))

    except Exception as e:
        print (e)

<span class="mw-headline" id="February">February</span>
02
NO
01
<span class="mw-headline" id="January">January</span>
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
invalid literal for int() with base 10: 'See also'
invalid literal for int() with base 10: 'References'
invalid literal for int() with base 10: 'External links'

In [62]:
[_ for _ in zip(date_in_year, deaths)]

[('0201', 6),
 ('0131', 8),
 ('0130', 9),
 ('0129', 10),
 ('0128', 24),
 ('0127', 26),
 ('0126', 25),
 ('0125', 24),
 ('0124', 14),
 ('0123', 27),
 ('0122', 25),
 ('0121', 20),
 ('0120', 26),
 ('0119', 23),
 ('0118', 26),
 ('0117', 24),
 ('0116', 14),
 ('0115', 30),
 ('0114', 12),
 ('0113', 25),
 ('0112', 17),
 ('0111', 24),
 ('0110', 19),
 ('0109', 25),
 ('0108', 25),
 ('0107', 27),
 ('0106', 20),
 ('0105', 24),
 ('0104', 26),
 ('0103', 20),
 ('0102', 15),
 ('0101', 25)]

In [73]:
data = {
    'date_in_year': date_in_year,
    'deaths': deaths,
    'html': html
}
df = pd.DataFrame(data)
df = df.sort_values(by='date_in_year', ascending=True)
df['total_deaths'] = df.deaths.cumsum()
# df = df[['year','month','day','deaths','total_deaths','html']]
df = df[['date_in_year','deaths','total_deaths','html']]
df.to_csv('./2017.csv', index=False)

In [74]:
df

   date_in_year  deaths  total_deaths html
31         0101      25            25    X
30         0102      15            40    X
29         0103      20            60    X
28         0104      26            86    X
27         0105      24           110    X
26         0106      20           130    X
25         0107      27           157    X
24         0108      25           182    X
23         0109      25           207    X
22         0110      19           226    X
21         0111      24           250    X
20         0112      17           267    X
19         0113      25           292    X
18         0114      12           304    X
17         0115      30           334    X
16         0116      14           348    X
15         0117      24           372    X
14         0118      26           398    X
13         0119      23           421    X
12         0120      26           447    X
11         0121      20           467    X
10         0122      25           492    X
9          0123      27           519    X
8          0124      14           533    X
7          0125      24           557    X
6          0126      25           582    X
5          0127      26           608    X
4          0128      24           632    X
3          0129      10           642    X
2          0130       9           651    X
1          0131       8           659    X
0          0201       6           665    X

In [58]:
len(persons('li'))

25

In [16]:
month_dict

{'': '00',
 'April': '04',
 'August': '08',
 'December': '12',
 'February': '02',
 'January': '01',
 'July': '07',
 'June': '06',
 'March': '03',
 'May': '05',
 'November': '11',
 'October': '10',
 'September': '09'}