In [1]:
import pandas as pd
from functools import wraps

In [2]:
df = pd.DataFrame(columns=['a','b'])
df2 = pd.DataFrame(columns=['a','c'])

In [3]:
df.merge(df2, on='a')

Empty DataFrame
Columns: [b, a, c]
Index: []

In [4]:
df.a.map(lambda x: x+1)

Series([], Name: a, dtype: object)

In [9]:
df['a1'] = df.a.fillna('')
df

Empty DataFrame
Columns: [a, b, a1]
Index: []

In [7]:
df.a.dropna()

Series([], Name: a, dtype: object)